<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Workout App</title>
  
</head>
<body>
    <div class="container">
        <h1>Neues Workout</h1>
        <div class="input-container">
          <input type="text" [(ngModel)]="workoutName" (input)="setWorkoutName()" class="styled-input" placeholder="Enter workout name">
        </div>
        <ul class="exercise-list" id="exercise-list">
          <li *ngFor="let exercise of exercises">{{ exercise.name }}</li>
        </ul>
        <button class="button" routerLink="/select-category">Add Exercise</button>
        <button class="back-button" routerLink="/Home">Fertig</button>
      </div>
      
</body>
</html>