<!-- This should be a Home view with 4 vertically stacked buttons  -->
<!-- Each button should link to a different view -->

<div class="home-view">
    <div class="logo">
        <img src="assets/logo_screenshot.png" alt="logo">
    </div>
    <div class="button-container">
        <button routerLink="/Dashboard">Dashboard</button>
        <button routerLink="/NewWorkout">New Workout</button>
        <button routerLink="/NewExercise">New Exercise</button>
        <button routerLink="/WorkoutList">Workout List</button>
    </div>
</div>

