
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #088494; // Same color as the buttons
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 10px 10px; // Space between workout items
    border-radius: 10px; // Rounded workout item edges
    font-size: 16px; // Adjust as per your design
    font-weight: bold;
}

.workouts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 10px; // Space between workout items
}

.workout-item {
    display: inline-flex;  // Display workout items in a row
    justify-content: space-evenly;
    gap: 5vw; // Space between workout items
    background: #088494; // Same color as the buttons
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 10px 10px; // Space between workout items
    border-radius: 10px; // Rounded workout item edges
    font-size: 16px; // Adjust as per your design
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: darken(#5F4BB6, 10%); // Darken the workout item color on hover
    }
  
  }